@font-face {
  font-family: DelaGothicOne;
  font-display: swap;
  src: url(../fonts/DelaGothicOne-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Prompt;
  font-display: swap;
  src: url(../fonts/Prompt-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: Prompt;
  font-display: swap;
  src: url(../fonts/Prompt-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Prompt;
  font-display: swap;
  src: url(../fonts/Prompt-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Prompt,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Prompt,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
.page {
  margin-top: 90px
}
.container {
  padding: 0 14px;
  margin: 0 auto;
  max-width: 1920px
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 30px 0 25px;
  background-color: #fff;
  transition: all .5s ease
}
.header._header-scroll {
  box-shadow: 0 0 20px #000
}
.menu-open .header {
  box-shadow: none
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px
}
.header__burger {
  position: relative;
  width: 29px;
  height: 25px;
  cursor: pointer
}
.menu-open .header__burger span:first-child {
  top: 50%;
  -webkit-transform: translateY(-1.5px) rotate(45deg);
  transform: translateY(-1.5px) rotate(45deg)
}
.menu-open .header__burger span:nth-child(2) {
  opacity: 0
}
.menu-open .header__burger span:last-child {
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-1.5px) rotate(-45deg);
  transform: translateY(-1.5px) rotate(-45deg)
}
.header__burger span {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: all .5s ease
}
.header__burger span:first-child {
  top: 0
}
.header__burger span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-1.5px);
  transform: translateY(-1.5px)
}
.header__burger span:last-child {
  bottom: 0
}
.header__logo {
  height: 35px
}
.header__logo img {
  height: 100%
}
.header__lang {
  position: relative;
  flex: 0 0 30px;
  width: 30px
}
.header__lang-btn {
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  font-family: DelaGothicOne,serif;
  transition: color .5s ease
}
.header__lang-body {
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 12px 15px;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease
}
.header__lang-body.active {
  opacity: 1;
  visibility: visible
}
.header__lang-body::after {
  content: "";
  position: absolute;
  top: -7px;
  left: 30px;
  display: block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg)
}
.header__lang-link {
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  font-family: DelaGothicOne,serif;
  color: #fff;
  transition: color .5s ease
}
.menu {
  position: fixed;
  z-index: 25;
  top: 90px;
  left: 0;
  width: 100%;
  max-height: calc(100vh - 90px);
  background-color: #fff;
  box-shadow: 0 0 20px #000;
  overflow-y: auto;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  transition: all .5s ease
}
.menu::-webkit-scrollbar {
  width: 8px
}
.menu::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px
}
.menu::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 4px;
  cursor: pointer
}
.menu-open .menu {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1
}
.menu__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  padding: 80px 14px
}
.menu__link {
  font-size: 35px;
  font-family: DelaGothicOne,serif;
  line-height: 50px;
  text-transform: uppercase;
  transition: color .5s ease
}
.footer {
  margin-top: 50px;
  padding: 70px 0;
  background-color: #333
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 45px
}
.footer__column-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px
}
.footer__log {
  height: 52px
}
.footer__log img {
  height: 100%
}
.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px
}
.footer__socials-title {
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff
}
.footer__socials-body {
  display: flex;
  justify-content: center;
  gap: 35px
}
.footer__socials-item {
  width: 48px;
  height: 48px
}
.footer__socials-item img {
  width: 100%;
  height: 100%
}
.footer__column-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px
}
.footer__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px
}
.footer__navigation-item {
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  color: #fff;
  transition: all .5s ease
}
.footer__navigation-item.active {
  border-bottom: 2px solid #767676
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}
.footer__contact {
  display: flex;
  align-items: center;
  gap: 18px
}
.footer__contact svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  transition: all .5s ease
}
.footer__contact span {
  font-size: 33px;
  line-height: 50px;
  color: #fff;
  transition: all .5s ease
}
.title {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px
}
.title._watcher-view {
  -webkit-animation-name: translateXplus;
  animation-name: translateXplus;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s
}
.title__count {
  padding-bottom: 4px;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  color: #9c9c9c;
  border-bottom: 1px solid #9c9c9c
}
.title__name {
  position: relative;
  padding-left: 16px;
  font-size: 30px;
  font-family: DelaGothicOne,serif;
  line-height: 43px;
  text-transform: uppercase
}
.title__name::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 4px);
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%
}
.main {
  padding: 0 0 15px
}
.main__title {
  display: none
}
.main__slider {
  position: relative
}
.main__slider._watcher-view .main__slide-text {
  -webkit-animation-name: translateXplus;
  animation-name: translateXplus;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s
}
.main__slide {
  position: relative;
  padding-top: 47%;
  overflow: hidden
}
.main__slide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .25
}
.main__slide-image {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.main__slide-text {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 11% 14px;
  font-size: 15px;
  font-family: DelaGothicOne,serif;
  text-transform: uppercase;
  line-height: 22px;
  color: #fff
}
.main__slider-pagination {
  position: absolute;
  z-index: 5;
  bottom: 12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  gap: 12px
}
.main__slider-pagination .swiper-pagination-bullet {
  display: block;
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 4px solid transparent;
  background-color: #d9d9d9;
  cursor: pointer;
  transition: all .5s ease
}
.main__slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border-color: #000;
  background-color: #000
}
.main__slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  border-color: #a1a1a1
}
.main__slider-pagination .swiper-pagination-bullet::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all .5s ease
}
.about {
  padding: 30px 0
}
.about__body {
  display: flex;
  flex-direction: column
}
.about__images {
  margin-bottom: 16px;
  display: flex;
  gap: 14px
}
.about__images._watcher-view .about__image:first-child {
  -webkit-animation-name: translateXplus;
  animation-name: translateXplus;
  -webkit-animation-duration: 2s;
  animation-duration: 2s
}
.about__images._watcher-view .about__image:last-child {
  -webkit-animation-name: translateXminus;
  animation-name: translateXminus;
  -webkit-animation-duration: 2s;
  animation-duration: 2s
}
.about__image {
  flex: 0 0 calc(50% - 7px);
  position: relative;
  padding-top: 22%;
  overflow: hidden
}
.about__image img {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.about__text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #777
}
.about__text._watcher-view {
  -webkit-animation-name: translateY;
  animation-name: translateY;
  -webkit-animation-duration: 2s;
  animation-duration: 2s
}
.about__link {
  align-self: flex-end;
  font-size: 14px;
  line-height: 21px;
  color: #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
  transition: all .5s ease
}
.services {
  padding: 30px 0
}
.services__body {
  display: flex;
  flex-wrap: wrap;
  gap: 35px
}
.services__item {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column
}
.services__item._watcher-view:nth-child(2n) {
  -webkit-animation-name: translateXminus;
  animation-name: translateXminus;
  -webkit-animation-duration: 2s;
  animation-duration: 2s
}
.services__item._watcher-view:nth-child(2n+1) {
  -webkit-animation-name: translateXplus;
  animation-name: translateXplus;
  -webkit-animation-duration: 2s;
  animation-duration: 2s
}
.services__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  width: 47px;
  height: 47px;
  background-color: #d4d4d4
}
.services__item-icon img {
  max-width: 25px;
  max-height: 25px
}
.services__item-title {
  margin-bottom: 11px;
  font-size: 20px;
  font-family: DelaGothicOne,serif;
  line-height: 29px;
  text-transform: uppercase
}
.services__item-text {
  font-size: 16px;
  line-height: 24px;
  color: #777
}
.partners {
  padding: 30px 0
}
.partners__body {
  display: flex;
  flex-direction: column-reverse;
  gap: 45px;
  margin-bottom: 45px
}
.partners__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px
}
.partners__list._watcher-view {
  -webkit-animation-name: translateXplus;
  animation-name: translateXplus;
  -webkit-animation-duration: 2s;
  animation-duration: 2s
}
.partners__item {
  flex: 0 0 calc(25% - 22.5px);
  display: flex;
  align-items: center;
  justify-content: center
}
.partners__item img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.partners__content {
  display: flex;
  flex-direction: column
}
.partners__content._watcher-view {
  -webkit-animation-name: translateXminus;
  animation-name: translateXminus;
  -webkit-animation-duration: 2s;
  animation-duration: 2s
}
.partners__content-title {
  margin-bottom: 11px;
  font-size: 20px;
  font-family: DelaGothicOne,serif;
  line-height: 29px;
  text-transform: uppercase
}
.partners__content-text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #777
}
.partners__content-link {
  align-self: flex-end;
  font-size: 14px;
  line-height: 21px;
  color: #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
  transition: all .5s ease
}
.partners__control {
  display: flex;
  justify-content: center
}
.partners__control._watcher-view {
  -webkit-animation-name: translateY;
  animation-name: translateY;
  -webkit-animation-duration: 2s;
  animation-duration: 2s
}
.partners__button {
  padding: 20px 45px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background-color: #000;
  transition: all .5s ease
}
.blogs {
  padding: 30px 0
}
.blogs__body {
  display: grid;
  gap: 35px
}
.blogs__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,.1)
}
.blogs__item._watcher-view {
  -webkit-animation-name: translateY;
  animation-name: translateY;
  -webkit-animation-duration: 2s;
  animation-duration: 2s
}
.blogs__item.full .blogs__item-text {
  -webkit-line-clamp: 15
}
.blogs__item.half .blogs__item-text {
  -webkit-line-clamp: 8
}
.blogs__item-image {
  position: relative;
  padding-top: 54%;
  overflow: hidden
}
.blogs__item-image img {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.blogs__item-content {
  display: flex;
  flex-direction: column
}
.blogs__item-title {
  margin-bottom: 6px;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px
}
.blogs__item-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical
}
.blogs__item-link {
  display: inline-flex;
  align-items: center;
  gap: 8px
}
.blogs__item-link span {
  font-size: 14px;
  line-height: 21px;
  color: #616161;
  transition: all .5s ease
}
.blogs__item-link svg {
  width: 20px;
  height: 20px;
  fill: #616161;
  transition: all .5s ease
}
.breadcrumbs {
  padding: 15px 0 0
}
.breadcrumbs__list {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  overflow-x: auto
}
.breadcrumbs__list.full-width {
  justify-content: start
}
.breadcrumbs__list li {
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  color: #a0a0a0
}
.breadcrumbs__item {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  color: #000;
  transition: all .5s ease
}
.breadcrumbs__item::after {
  content: "";
  position: absolute;
  right: -22px;
  top: calc(50% - 12px);
  width: 18px;
  height: 24px;
  background: url(../img/icons/arrow.svg) center/contain no-repeat
}
.blog {
  padding: 30px 0
}
.blog .container {
  display: flex;
  flex-direction: column;
  gap: 20px
}
.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
  font-family: DelaGothicOne,serif;
  line-height: 145%;
  text-transform: uppercase;
  margin-top: 15px
}
.blog h1:first-child,
.blog h2:first-child,
.blog h3:first-child,
.blog h4:first-child,
.blog h5:first-child,
.blog h6:first-child {
  margin-top: 0
}
.blog h1,
.blog h2 {
  font-size: 35px
}
.blog h3 {
  font-size: 30px
}
.blog h4 {
  font-size: 25px
}
.blog h5,
.blog h6 {
  font-size: 20px
}
.blog p {
  font-size: 16px;
  line-height: 150%;
  color: #777
}
.blog img {
  width: 100%
}
.blog a {
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  transition: all .5s ease
}
.blog__table {
  padding-bottom: 5px;
  overflow-x: auto
}
.blog table {
  width: 100%;
  border-collapse: collapse
}
.blog table th {
  padding: 15px 30px;
  min-width: 280px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  border-right: 1px solid #fff
}
.blog table th:last-child {
  border-right-color: #000
}
.blog table td {
  padding: 15px 30px;
  min-width: 280px;
  font-size: 18px;
  line-height: 27px;
  border: 1px solid #000
}
.blog ul {
  display: flex;
  flex-direction: column;
  gap: 10px
}
.blog ul li {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #777
}
.blog ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%
}
.blog ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  list-style-position: outside
}
.blog ol li {
  font-size: 16px;
  line-height: 24px;
  color: #777
}
.blog ol li::marker {
  color: #000
}
.blog__video {
  position: relative;
  padding-top: 45%;
  overflow: hidden;
  cursor: pointer
}
.blog__video.play::after {
  display: none
}
.blog__video.play .blog__video-icon,
.blog__video.play .blog__video-image {
  display: none
}
.blog__video::after {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .45
}
.blog__video-image {
  display: block;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.blog .blog__video-icon {
  display: block;
  position: absolute;
  z-index: 4;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px
}
.blog__video-container {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.blog__video-container iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
@-webkit-keyframes translateXplus {
  0% {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
@keyframes translateXplus {
  0% {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
@-webkit-keyframes translateXminus {
  0% {
    -webkit-transform: translateX(150%);
    transform: translateX(150%)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
@keyframes translateXminus {
  0% {
    -webkit-transform: translateX(150%);
    transform: translateX(150%)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
@-webkit-keyframes translateY {
  0% {
    -webkit-transform: translateY(200px);
    transform: translateY(200px)
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@keyframes translateY {
  0% {
    -webkit-transform: translateY(200px);
    transform: translateY(200px)
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:47.99875em) {
  .container {
    padding: 0 20px
  }
  .menu__body {
    padding: 80px 20px
  }
  .main__slide-text {
    padding: 11% 20px;
    font-size: 25px;
    line-height: 30px
  }
  .partners__item {
    flex: 0 0 calc(20% - 24px)
  }
  .blogs__body {
    grid-template-columns: repeat(2,1fr)
  }
  .blogs__item.full .blogs__item-text {
    -webkit-line-clamp: 8
  }
}
@media (min-width:61.99875em) {
  .page {
    margin-top: 114px
  }
  .container {
    padding: 0 40px
  }
  .header {
    height: 114px;
    padding: 40px 0 30px
  }
  .header__burger:hover span {
    background-color: #777
  }
  .header__logo {
    height: 44px
  }
  .header__lang-btn:hover {
    color: #777
  }
  .header__lang-link:hover {
    color: #777
  }
  .menu::-webkit-scrollbar-thumb:hover {
    background: #000
  }
  .menu {
    top: 114px;
    max-height: calc(100vh - 114px)
  }
  .menu__body {
    padding: 80px 40px
  }
  .menu__link {
    font-size: 40px;
    line-height: 58px
  }
  .menu__link:hover {
    color: #777
  }
  .footer {
    padding: 90px 0
  }
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center
  }
  .footer__column-left {
    align-items: flex-start;
    gap: 80px
  }
  .footer__socials {
    align-items: flex-start;
    gap: 20px
  }
  .footer__socials-body {
    gap: 22px
  }
  .footer__column-right {
    align-items: flex-end;
    gap: 80px
  }
  .footer__navigation {
    flex-direction: row
  }
  .footer__navigation-item:hover {
    color: #767676
  }
  .footer__navigation-item {
    font-size: 22px;
    line-height: 33px;
    text-transform: none
  }
  .footer__contacts {
    gap: 30px;
    align-items: flex-end
  }
  .footer__contact:hover svg {
    fill: #767676
  }
  .footer__contact:hover span {
    color: #767676
  }
  .footer__contact span {
    font-size: 22px;
    line-height: 33px
  }
  .title {
    margin-bottom: 40px
  }
  .title__count {
    font-size: 16px;
    line-height: 24px
  }
  .title__name {
    font-size: 38px;
    line-height: 54px;
    padding-left: 26px
  }
  .title__name::before {
    top: calc(50% - 6px);
    width: 12px;
    height: 12px
  }
  .main {
    padding: 15px 0
  }
  .main__title {
    display: block;
    margin-bottom: 25px;
    font-size: 16px;
    text-align: center
  }
  .main__slide {
    padding-top: 42%
  }
  .main__slide-text {
    left: calc(50% - 450px);
    width: 900px;
    padding: 11% 40px;
    font-size: 35px;
    line-height: 45px
  }
  .main__slider-pagination {
    bottom: 22px
  }
  .main__slider-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px
  }
  .main__slider-pagination .swiper-pagination-bullet:hover {
    background-color: #000
  }
  .main__slider-pagination .swiper-pagination-bullet::after {
    width: 14px;
    height: 14px
  }
  .about {
    padding: 40px 0
  }
  .about__images {
    margin-bottom: 26px;
    gap: 26px
  }
  .about__image {
    flex: 0 0 calc(50% - 13px)
  }
  .about__text {
    margin-bottom: 35px
  }
  .about__link:hover {
    color: #000;
    border-color: #000
  }
  .services {
    padding: 40px 0
  }
  .services__body {
    gap: 55px 70px
  }
  .services__item {
    flex: 0 0 calc(50% - 35px)
  }
  .partners {
    padding: 40px 0
  }
  .partners__item {
    flex: 0 0 calc(16.666% - 25px)
  }
  .partners__content-link:hover {
    color: #000;
    border-color: #000
  }
  .partners__button:hover {
    color: #000;
    background-color: #b8b8b8
  }
  .blogs {
    padding: 40px 0
  }
  .blogs__item-link:hover span {
    color: #000
  }
  .blogs__item-link:hover svg {
    fill: #000
  }
  .breadcrumbs {
    padding: 25px 0 10px
  }
  .breadcrumbs__item:hover {
    color: #a0a0a0
  }
  .blog {
    padding: 40px 0
  }
  .blog a:hover {
    color: #777
  }
  .blog .blog__video-icon {
    top: calc(50% - 55px);
    left: calc(50% - 55px);
    width: 110px;
    height: 110px
  }
}
@media (min-width:79.99875em) {
  .page {
    margin-top: 142px
  }
  .container {
    padding: 0 60px
  }
  .header {
    height: 142px;
    padding: 50px 0 40px
  }
  .header__logo {
    height: 52px
  }
  .menu {
    top: 142px;
    max-height: calc(100vh - 142px)
  }
  .menu__body {
    padding: 80px 60px
  }
  .menu__link {
    font-size: 45px;
    line-height: 65px
  }
  .footer {
    padding: 110px 0
  }
  .footer__column-left {
    gap: 100px
  }
  .title {
    margin-bottom: 55px
  }
  .title__count {
    font-size: 18px;
    line-height: 27px
  }
  .title__name {
    padding-left: 36px;
    font-size: 45px;
    line-height: 65px
  }
  .title__name::before {
    top: calc(50% - 9px);
    width: 18px;
    height: 18px
  }
  .main {
    padding: 20px 0
  }
  .main__slide {
    padding-top: 36%
  }
  .main__slide-text {
    left: calc(50% - 570px);
    width: 1140px;
    padding: 11% 60px;
    font-size: 45px;
    line-height: 65px
  }
  .main__slider-pagination {
    bottom: 32px
  }
  .main__slider-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px
  }
  .main__slider-pagination .swiper-pagination-bullet::after {
    width: 16px;
    height: 16px
  }
  .about {
    padding: 50px 0
  }
  .about__images {
    margin-bottom: 36px;
    gap: 36px
  }
  .about__image {
    flex: 0 0 calc(50% - 18px)
  }
  .about__text {
    margin-bottom: 50px
  }
  .services {
    padding: 50px 0
  }
  .services__body {
    gap: 80px 150px
  }
  .services__item {
    flex: 0 0 calc(50% - 75px)
  }
  .partners {
    padding: 50px 0
  }
  .partners__body {
    flex-direction: row;
    gap: 70px;
    margin-bottom: 55px
  }
  .partners__list {
    flex: 0 0 calc(50% - 35px);
    gap: 30px 42px
  }
  .partners__item {
    flex: 0 0 calc(14.285% - 36px)
  }
  .partners__content {
    flex: 0 0 calc(50% - 35px)
  }
  .partners__content-title {
    margin-bottom: 19px
  }
  .partners__content-link {
    align-self: start
  }
  .blogs {
    padding: 50px 0
  }
  .blogs__body {
    grid-template-columns: repeat(4,1fr)
  }
  .blogs__item {
    padding: 30px;
    gap: 25px
  }
  .blogs__item.full {
    grid-column: span 2;
    grid-row: span 2;
    flex-direction: row;
    align-items: center;
    gap: 30px
  }
  .blogs__item.full .blogs__item-image {
    flex: 0 0 55%;
    width: 55%;
    height: 100%;
    padding-top: 0
  }
  .blogs__item.full .blogs__item-title {
    font-size: 46px;
    line-height: 70px
  }
  .blogs__item.full .blogs__item-text {
    margin-bottom: 58px;
    -webkit-line-clamp: 12
  }
  .blogs__item.half {
    grid-column: span 1;
    grid-row: span 2
  }
  .blogs__item.half .blogs__item-text {
    -webkit-line-clamp: 7
  }
  .blogs__item-title {
    margin-bottom: 14px
  }
  .blogs__item-text {
    margin-bottom: 34px;
    -webkit-line-clamp: 4
  }
  .breadcrumbs {
    padding: 35px 0 25px
  }
  .blog {
    padding: 50px 0
  }
  .blog .container {
    gap: 30px
  }
  .blog h1,
  .blog h2,
  .blog h3,
  .blog h4,
  .blog h5,
  .blog h6 {
    margin-top: 30px
  }
  .blog .blog__video-icon {
    top: calc(50% - 90px);
    left: calc(50% - 90px);
    width: 180px;
    height: 180px
  }
}